<header>
  <div class="container flex space-bt align-center">
    <h1><a class="nav-link" href="/">PeekaPost</a></h1>
    <a class="nav-link" href="/profile">
      <img class="avatar border-full" src="https://placehold.co/40" alt="user avatar">
    </a>
  </div>
</header>