<header>
  <div class="container flex space-bt align-center">
    <h1>PeekaPost</h1>
    <div class="container flex justify-center align-center gap-md">
      <a class="nav-link" href="/messages">Messages</a>
      <a class="nav-link" href="/profile"><img class="avatar border-full" src="https://placehold.co/40" alt="user avatar"></a>
    </div>
  </div>
</header>