<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="font.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>PeekaPost</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="message-board border-md flex flex-col gap-md">
        <div class="message-board_header flex flex-col justify-center align-center">
          <div class="message-board_header_title flex justify-center align-center gap-sm">
            <% if (user) { %>
              <i data-lucide="lock-keyhole-open"></i>
            <% } else { %>
              <i data-lucide="lock-keyhole"></i>
            <% } %>  
            <h2>PeekaPost Message Board</h2>
          </div>
          <% if (user && user.admin) { %>
            <p class="message-board_header_subtitle">You are authorized to send and delete messages.</p>
          <% } else if (user) { %>
            <p class="message-board_header_subtitle">You are authorized to send messages.</p>
          <% } else { %>
            <p class="message-board_header_subtitle">You may only read messages.</p>
          <% } %>
        </div>
        <div class="messages-container flex flex-col gap-md">
          <% if (messages) { %>
            <% messages.forEach(message => { %>
              <%- include("./partials/userMessage", {message}) %>
            <% }) %>
          <% } %> 
        </div>
        <% if (user) { %>
          <div class="message-board_input">
            <%- include("./partials/errors") %>
            <form id="create-message-form" action="/message" method="POST">
              <div class="flex gap-xs">
                <input name="messageContent" id="messageContent" minlength="3" maxlength="200" class="message-board_input_message border-sm" type="text" placeholder="Enter your message" required />
                <input class="message-board_input_submit border-sm" type="submit" value="Send" />
              </div>
            </form>
          </div>
        <% } %>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <script>
    lucide.createIcons();

    // Scroll messagesContainer to the bottom
    const messagesContainer = document.querySelector(".messages-container");
    messagesContainer.scrollTop = messagesContainer.scrollHeight;
    
    const messageForm = document.getElementById("create-message-form");
    messageForm.onsubmit = (event) => {
      event.preventDefault();
      const formData = new FormData(messageForm);
      fetch('/message', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({messageContent: formData.get('messageContent')})
      })
        .then(response => response.json())
        .then(data => {
          location.reload();
        })
        .catch(error => {
          console.log(error);
        })
    }

    function deleteMessage(messageId) {
      fetch(`/message/${messageId}`, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          document.getElementById(`message-${messageId}`).remove();
        }
      })
      .catch(error => console.error('Error:', error));
    }
  </script>
</html>
