<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="font.css" />
    <link rel="stylesheet" href="styles.css" />
    <title>PeekaPost</title>
  </head>
  <body>
    <%- include("./partials/header") %>
    <main>
      <div class="message-board border-md flex flex-col gap-md">
        <div class="message-board_header flex flex-col justify-center align-center">
          <div class="message-board_header_title flex justify-center align-center gap-sm">
            <i data-lucide="lock-keyhole-open"></i>
            <h2>PeekaPost Message Board</h2>
          </div>
          <p class="message-board_header_subtitle">You are authorized to send messages.</p>
        </div>
        <div class="messages-container flex flex-col gap-md">
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro totam ad dolore beatae, praesentium placeat ipsa illum repellendus sint repellat animi soluta at nostrum autem illo velit magnam veniam accusamus?</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur nisi consequatur quasi necessitatibus dicta et accusamus nulla vitae rerum modi. Dignissimos suscipit vitae eaque maxime numquam saepe, recusandae ipsum reiciendis!</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis quibusdam unde nisi dolore repellendus laudantium, explicabo, doloremque deserunt reiciendis recusandae hic architecto maxime ex ipsa, labore a nulla ea illum?</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          <div class="message flex gap-md">
            <img src="https://placehold.co/40" alt="" class="avatar border-full"/>
            <div class="flex flex-col gap-xs">
              <p class="message_username">Agent X</p>
              <p class="message_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, placeat sapiente similique unde sunt quibusdam consequuntur nobis quia dolorem voluptates perferendis corrupti commodi, fugit neque mollitia repellendus odit qui distinctio.</p>
              <p class="message_timestamp">2 hours ago</p>
            </div>
          </div>
          
        </div>
        <div class="message-board_input">
          <form action="/message" method="POST">
            <div class="flex gap-xs">
              <input class="message-board_input_message border-sm" type="text" placeholder="Enter your message" />
              <input class="message-board_input_submit border-sm" type="submit" value="Send" />
            </div>
          </form>
        </div>
      </div>
    </main>
    <%- include("./partials/footer") %>
  </body>
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <script>
    lucide.createIcons();

    // Scroll messagesContainer to the bottom
    const messagesContainer = document.querySelector(".messages-container");
    messagesContainer.scrollTop = messagesContainer.scrollHeight;

  </script>
</html>
