.form-main {
  padding: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border: 1px solid rgba(182, 182, 182, 0.5);
  border-radius: 4px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.form-container h2 {
  font-weight: 800;
  text-align: center;
}

.form-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
}

.form-field label {
  font-weight: 600;
}

.form-field input {
  height: 25px;
  font-size: 1rem;
  border: 1px solid rgba(182, 182, 182, 0.5);
  border-radius: 4px;
  padding: 18px 10px;
}

.form-btn {
  width: 100%;
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 4px;
  border-style: none;
}

.errors-list-container {
  border: 1px solid rgba(217, 30, 24, 0.5);
  border-radius: 4px;
}

.errors-list {
  list-style-position: inside;
  margin-left: 25px;
}

.error-msg {
  text-indent: -20px;
}