<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PeekaPost Profile</title>
</head>
<body>
  <%- include("../partials/header") %>
  <main class="profile-main">
    
  </main>
  <%- include("../partials/footer") %>
</body>
</html>